body{
    background-color:rgb(174, 233, 233);
    font-family: 'Times New Roman', Times, serif;
}

h1{
    color: rgba(17, 22, 22, 0966);
}

h1#principal{
    text-align: center;
    background-color: rgb(24, 9, 226);
    color: aliceblue;
}

h2{
    color: rgb(84, 119, 119);
}

.basico{
    color: rgb(62, 136, 65);
}

.intermediario{
    color: brown;
}

.avancado{
    color: rgb(160, 148, 45);
}

.destaque{
    background-color: rgb(51, 101, 145);
}
